<ng-container *ngFor="let display of displays">
	<input type="radio" [id]="display.key" name="virtualTable" [value]="display.key" [(ngModel)]="selectedDisplay">
	<label [attr.for]="display.key">{{display.name}}</label><br>
</ng-container>

<ng-container [ngSwitch]="selectedDisplay">
	<ng-container *ngSwitchCase="'virtualTable'">
		<virtual-table [items]="items" [columns]="columns" style="width: 100%; max-height: 90vh">
		</virtual-table>
	</ng-container>

	<div *ngSwitchCase="'regularTable'" style="max-height: 90vh; overflow: auto;">
		<table>
			<tr>
				<th *ngFor="let column of columns" [style.min-width.px]="column.columnWidth"
					[width]="column.columnWidth + 'px'">
					{{column.headerText}}
				</th>
			</tr>
			<tr *ngFor="let item of items">
				<td *ngFor="let column of columns">
					{{item[column.id]}}
				</td>
			</tr>
		</table>
	</div>

	<virtual-list *ngSwitchCase="'virtualList'" [items]="items" itemDisplayPath="1"
		style="max-height: 300px; max-width: 500px;">
	</virtual-list>

	<ul *ngSwitchCase="'regularList'" style="max-height: 300px; max-width: 500px; overflow: auto;">
		<li *ngFor="let item of items">
			{{ item['1'] }}
		</li>
	</ul>
</ng-container>